# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Customs
.vs
.ppm
.log
.tlog
.pdb
.ik
.recipe
.lastbuildstate

NuageEngine_IPRT/out*

NuageEngine_IPRT/external/glm/*
NuageEngine_IPRT/Images/*
NuageEngine_IPRT/render*